*.pyc
*.pyo
.eggs
.*.swp
*~
*.o
*.DS_Store
*.autosave

# Ruby artifacts
*.gem
*.rbc
.bundle
Gemfile.lock

.pmd
.checkstyle
.settings
.project
.pydevproject
parts/

bin/

*.elf

# QtCreator project files
RIOT-Fw.*

# Visual Studio Code
.vscode/
